<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= user.username%>'s' Page</h1>
Personal Info:<br>
<%= user.name%><br>
<%= user.email%><br>
<%= user.address%><br><br>

Products:<br> <%= user.products%><br>


<a href="/users/<%=user._id%>/edit">Edit User</a>
<a href="/products/new">Create a New Product</a>

<form action='/users/<%= user._id%>?_method=DELETE' method='POST'>
<button>Delete User</button>
</form>


</body>
</html>
