<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
<%include ../partials/_navbar.ejs %>

        <ul class= "productsIndex">
        <% for(let i = 0; i < products.length; i++){ %>
    
<div class="card-deck">
  <div class="card">
    <img src="<%=products[i].image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a href="/products/<%=products[i]._id%>"><%=products[i].title %></a></h5>
      <p class="card-text"><%=products[i].description%></p>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a href="/products/<%=products[i]._id%>"><%=products[i ++].title %></a></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>



        <% } %>
        </ul>
      
<ul>
  <% for(let i = 0; i < products.length; i++){ %>
<li>
<%=products[i].title %>
</li>
<%}%>
</ul>

 <%include ../partials/_footerBar.ejs %>
</body>

</html> 