<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
<%include ../partials/_navbar.ejs %>
    <h1>Product Show Route</h1>

    
  



<div class= 'showProduct'>

    <figure class="figure">
  <img src="<%= product.image %>" class="figure-img img-fluid rounded" alt="...">
     <h5 class="card-title"> <%=product.title%></h5>
  <figcaption class="figure-caption"><%=product.description%></figcaption>
</figure>


    <a href= '/products'>
    <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   Get Owners Info
  </a>
 
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
   <%=product.owner%> 
 </div>
</div>
</div>


<button  class='buyNow'> <a href='buy/<%=product._id%>/<%=product.owner%>'>BUY NOW</a> </button>


<form action='/products/<%= product._id%>?_method=DELETE' method='POST'>
<button>Delete Product</button>
</form>
   <%include ../partials/_footerBar.ejs %>
   


</body>
</html>

