<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <title>Document</title>
</head>
<style>
    .buttons {
        display: inline-block;
    }

</style>
<body>
<%include ../partials/_navbar.ejs %>
    <h1>Product Show Route</h1>

   
    <ul>
    <li>Title: <%=product.title%></li>
    <li>Price: <%=product.price%></li>
    <li>Description: <%=product.description%></li>
    </ul>
    
  



<div class= 'showProduct'>

    <figure class="figure">
  <img src="<%= product.image %>" class="figure-img img-fluid rounded" alt="...">
     <h5 class="card-title"> <%=product.title%></h5>
  <figcaption class="figure-caption"><%=product.description%></figcaption>
  <figcaption class="price"><%=product.price%></figcaption>
</figure>


    <a href= '/products'>

    <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   Get Owners Info
  </a>
 
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<%=product.owner%>  </div>
</div>
</div>
<button class='buyNow'> BUY NOW </button>

   <%include ../partials/_footerBar.ejs %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

</body>
</html>

