<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<style>
    .buttons {
        display: inline-block;
    }

</style>
<body>
<%include ../partials/_navbar.ejs %>


    
  


<div class= 'showProduct'>
 <h2 class="card-title"> <%=product.title%></h2>
    <figure class="figure">
  <img src="<%= product.image %>" class="figure-img img-fluid rounded" alt="...">

  <p><%=product.description%></p>
    <figcaption class="figure-caption">would swap for: <%=product.price%></figcaption>
</figure>


 

    <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   Get Owners Info
  </a>
 
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
   <%=product.owner.name%>
   <a href='mailto:<%=product.owner.email%>'><%=product.owner.email%></a>



   <form action='buy/<%=product._id%>/<%=product.owner._id%>?_method=PUT' method='POST' >


   Verification Code: <input name='authCode' id= 'verification-code'type=text>

<button  class='buyNow'> Claim  Now </button>
   
<form>

 

 </div>
</div>
</div>











<form action='/products/<%= product._id%>?_method=DELETE' method='POST'>
<button>Delete Product(WILL REMOVE)</button>
</form>
   <%include ../partials/_footerBar.ejs %>
   


</body>
</html>

