<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Product Show Route</h1>
   
    <ul>
    <li>Title: <%=product.title%></li>
    <li>Price: <%=product.price%></li>
    <li>Description: <%=product.description%></li>
    <li>User: <%=user.username%></li>
    </ul>
    
    <img src="<%= product.image %>">
    
    

</body>
</html>